body {
    overflow-y: scroll;
}

header {
    max-width: 20rem;
    width: 90%;
    margin: 2.5rem auto;
}

header nav {
    min-width: 12.5rem;
}

header #git-link {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}

main {
    width: 90%;
    margin: 0 auto 5rem;
    position: relative;
}

.loading-repos {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-grey-2);
    height: 100vh;
    width: 100%;
    font-size: 2rem;   
    padding-top: 10rem; 
}

.loading-repos img {
    width: 30%;
    animation-name: animate-octocat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.hide-octocat {
    animation-name: hide-octocat;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;    
}


.empty-repos {
    border: 2px solid var(--color-grey-7);
    border-radius: var(--radius-default2);
    padding: 3rem;
    margin: 5rem auto;
    text-align: center;
}

.card-list {
    display: none;

}
.card {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--radius-default2);
    max-width: 18.75rem;
    width: 90%;
    margin: 0 auto;
    padding: 2.55rem 1.7rem;
    overflow: hidden;    
}

.card h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card p {
    height: 4.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    background-color: var(--color-grey-1);
    border: 2px solid var(--color-grey-7);
    transition: 0.9s;
}

@media (min-width: 37.5rem) {
    .container {
        margin: 0 auto;
    }
    .header-desktop {
        flex-direction: row;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    nav button {
        height: fit-content;
    }
    
    .ul-desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        max-width: 25.85rem;
        width: 50%;
        margin: unset;
    }
}