@keyframes animate-figcaption {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 1);
    }

    80% {
        opacity: 0.3;
        transform: scale3d(0.3, 0.3, 1);
    }
    100% {
        opacity: 1;

    }    
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);

    }
}

@keyframes show-alert {
    0% {
        opacity: 0;
        transform: scaleY(0.1);
    }

    100% {
        opacity: 1;
    }    
}


@keyframes animate-octocat {
    0% {
        transform: rotate(0) scale(1);        
    }

    15% {
        transform: rotate(0) scale(0.75);

    }
    50% {
        transform: rotate(360deg) scale(0.8);        

    }

    100% {
        transform: rotate(360deg) scale(1);
    }    
}

@keyframes hide-octocat {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }    
}

@keyframes aside-intro {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes main-intro {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}